

.card-title {
    display: flex;
    align-items: center;
    justify-content: space-evenly
}

.card-title {
    color: chocolate;
    font-family: $ff-arial;
    font-size: 30px;
}

.card-text {
    display: flex;
    align-items: center;
    justify-content: space-evenly
}

.card-text {
    font-family: $off-serif;
    font-size: 20px;
}

